.dub
docs.json
__dummy.html
docs/
mir-buffer-protocol.so
mir-buffer-protocol.dylib
mir-buffer-protocol.dll
mir-buffer-protocol.a
mir-buffer-protocol.lib
mir-buffer-protocol-test-*
*.exe
*.o
*.obj
*.lst
*.a

*.pyc
*.so
dist/
build/
*.egg-info/
__pycache__/
dub.selections.json

*
*/
!*.d
!*.py
!*.md
!dub.json
!.gitignore

